:root {
    /* colors */
    --primary: #003366;
    --secondary: #1F4C79;
    /* font */
    --font: 'Lato', sans-serif;
    /* font weight */
    --regular: 400;
    --bold: 700;
    --black: 900;
}

*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    width: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

/* utils */
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

/* buttons */
.button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    transition: all .2s ease-in-out;
    cursor: pointer;
    display: block;
    font-size: 18px;
    outline: none;
    position: relative;
    z-index: 10;
    width: max-content;
    text-transform: capitalize;
    font-weight: var(--bold);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    transition: all .2s ease-in-out;
    border-radius: 2px;
}

.button:hover::before {
    transform: scale(1.1);
}

.button.button-primary {
    color: #fff;
}

.button.button-primary::before {
    background: var(--primary);
    color: #fff;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar__links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.navbar__links .navbar__link {
    font-size: 18px;
    color: var(--primary);
    position: relative;
}

.navbar__links .navbar__link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    transition: all .2s ease-in-out;
}

.navbar__links .navbar__link:hover::before {
    width: 100%;
}

/* header */
.header {
    height: 70vh;
    display: flex;
    align-items: center;
    background: url(/assets/images/header.jpg) no-repeat center center;
    background-size: cover;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.header__text {
    position: relative;
    z-index: 10;
    color: #fff;
}

.header__text span {
    font-size: 22px;
}

.header__text h1 {
    font-size: 70px;
}

.header__text h2 {
    font-size: 30px;
    margin-top: 10px;
}

.header__text div {
    margin-top: 30px;
}
