:root {
    /* colors */
    --primary: #003366;
    --secondary: #1f4c79;
    /* font */
    --font: "Lato", sans-serif;
    /* font weight */
    --regular: 400;
    --bold: 700;
    --black: 900;
    /* border */
    --radius: 2px;
    --border: 1px solid #00336683;
    /* transition */
    --transition: all 0.2s ease-in-out;
}

/* utils */

.section {
    padding: 40px 0;
    margin-bottom: 50px;
}

.section__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: var(--bold);
    color: var(--primary);
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.section__title span {
    width: 20%;
    height: 5px;
    background-color: var(--secondary);
    border-radius: var(--radius);
}

@media screen and (min-width: 768px) {
    .section {
        padding: 80px 0;
        margin-bottom: 50px;
    }

    .section__title {
        font-size: 28px;
    }
}

/* buttons */
.button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    transition: var(--transition);
    cursor: pointer;
    display: block;
    font-size: 18px;
    outline: none;
    position: relative;
    z-index: 10;
    width: max-content;
    text-transform: capitalize;
    font-weight: var(--bold);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    transition: var(--transition);
    border-radius: var(--radius);
}

.button:hover::before {
    transform: scale(1.1);
}

.button.button-primary {
    color: #fff;
}

.button.button-primary::before {
    background: var(--primary);
    color: #fff;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    border-bottom: var(--border);
    transition: var(--transition);
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
}

.navbar__links {
    display: flex;
    list-style: none;
    flex-direction: column;
    position: fixed;
    background: #fff;
    width: 70%;
    left: 0;
    padding: 30px;
    height: calc(100vh + 70.8px);
    top: 70.8px;
    gap: 30px;
    border: var(--border);
    transform: translateX(-100%);
    transition: var(--transition);
}

.navbar__show {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .navbar__links {
        height: 80px;
        position: static;
        align-items: center;
        flex-direction: row;
        background: transparent;
        border: none;
        padding: 0;
        width: fit-content;
        transform: translateX(0);
    }
}

.navbar__links .navbar__link {
    font-size: 18px;
    color: var(--primary);
    position: relative;
}

.navbar__links .navbar__link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    transition: var(--transition);
}

.navbar__links .navbar__link:hover::before {
    width: 100%;
}

.navbar__menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar__menu-btn {
        display: none;
    }
}

/* header */
.header {
    height: 90vh;
    display: flex;
    align-items: center;
    background: url(/assets/images/header.jpg) no-repeat center center;
    background-size: cover;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.header__text {
    position: relative;
    z-index: 10;
    color: #fff;
}

.header__text span {
    font-size: 18px;
}

.header__text h1 {
    font-size: 40px;
}

.header__text h2 {
    font-size: 20px;
    width: 20ch;
    margin-top: 10px;
}

@media screen and (min-width: 376px) {
    .header__text h2 {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .header__text span {
        font-size: 22px;
    }

    .header__text h1 {
        font-size: 70px;
    }

    .header__text h2 {
        font-size: 30px;
    }
}

.header__text div {
    margin-top: 30px;
}

/* Services section */
.services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.service__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background: #00336608;
    border-radius: var(--radius);
    border: var(--border);
    margin: 0 auto;
    width: 100%;
}

.service__card h5 {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--secondary);
}

.service__card p {
    font-size: 16px;
}

.service__card img {
    width: 60px;
    aspect-ratio: 1/1;
}

@media screen and (min-width: 768px) {
    .service__card h5 {
        font-size: 24px;
        font-weight: var(--bold);
        color: var(--secondary);
    }

    .service__card p {
        font-size: 18px;
    }
}

/* benefits */
.benefits {
    height: fit-content;
    background: url(/assets/images/hombrefit.jpg) no-repeat center center;
    background-size: cover;
    background-position: top;
    padding: 30px 0;
    position: relative;
}

.benefits__container {
    display: flex;
    justify-content: end;
    height: max-content;
}

.benefits__container article {
    width: 100%;
    padding: 15px;
    border-radius: var(--radius);
    z-index: 10;
}

.benefits__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.benefit__card {
    background: var(--primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: var(--radius);
}

.benefit__card img {
    width: 50px;
    aspect-ratio: 1/1;
}

.benefit__card p {
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .benefits__container article {
        width: 50%;
        padding: 20px 30px;
    }

    .benefit__card p {
        font-size: 20px;
        text-align: center;
    }
}

/* plans */
.plans__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.plan__card {
    border: 3px solid #cccccc;
    border-radius: var(--radius);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    transition: var(--transition);
    margin: 0 auto;
}

.plan__card:hover {
    border-color: var(--secondary);
}

.plan__card:hover img {
    filter: grayscale(0);
}

.plan__card h5 {
    font-size: 24px;
    font-weight: var(--black);
    color: var(--primary);
}

.plan__card img {
    width: 70%;
    margin: 0 auto;
    display: block;
    filter: grayscale(100%) brightness(110%);
    transition: var(--transition);
}

@media screen and (min-width: 768px) {
    .plan__card h5 {
        font-size: 30px;
    }
}

/* about */
.about {
    padding-top: 0;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about__content {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__content .about__title {
    font-size: 30px;
    font-weight: var(--black);
    color: #fff;
    backdrop-filter: blur(15px);
    padding: 10px;
    transition: var(--transition);
}

.about__content:hover .about__title {
    display: none;
}

.about__description {
    display: none;
    color: #fff;
    padding: 0 30px;
    transition: var(--transition);
}

.about__description h5 {
    font-size: 28px;
}

.about__description p {
    font-size: 18px;
    text-align: center;
}

.about__content:hover .about__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 20;
    gap: 15px;
}

.about__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    z-index: 10;
    display: block;
    transition: var(--transition);
}

.about__content:hover::after {
    width: 100%;
    background: #003366d5;
}

.footer {
    background-color: var(--primary);
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.footer__content {
    display: flex;
    justify-content: center;
    color: #fff;
}

/* login */
.login {
    height: 100vh;
    background: url(/assets/images/chica.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.login__container {
    background: #fff;
    width: 95vw;
    height: 98vh;
    border-radius: var(--radius);
    padding: 25px;
    margin: 0 auto;
    border: var(--border);
    position: relative;
}

.login__return {
    position: absolute;
    top: 15px;
    left: 15px;
    border: var(--border);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    transition: var(--transition);
}

.login__return:hover {
    transform: scale(1.05);
    background: var(--secondary);
}

.login__container .login__logo {
    width: 180px;
    margin: 0 auto;
    display: block;
}

.login__container h2 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: var(--primary);
    font-weight: var(--black);
}

.login__container p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.login__form {
    margin-top: 30px;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form__input label {
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--secondary);
}

.form__input .input {
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: var(--radius);
    outline: none;
    font-weight: var(--bold);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: var(--transition);
}

.form__input .input input {
    border: none;
    outline: none;
    font-weight: var(--bold);
    font-size: 18px;
    flex: 1;
    transition: var(--transition);
    width: max-content;
}

@media screen and (min-width: 768px) {
    .login__container {
        width: 50%;
        padding: 20px 30px;
        margin-left: 6px;
    }

    .login__container h2 {
        font-size: 25px;
    }

    .form__input .input input {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .login__container {
        width: 35%;
        padding: 40px 60px;
    }

    .login__container h2 {
        font-size: 30px;
    }

    .form__input .input input {
        font-size: 20px;
    }
}

.form__input .input input::placeholder {
    color: #b6b6b6;
}

.form__input .input:focus-within {
    border-color: var(--secondary);
}

.form__input .input input:focus {
    color: var(--secondary);
}

#showPassword {
    background: transparent;
    border: none;
    cursor: pointer;
}

.form__error {
    color: #d62121;
    text-align: left;
    font-size: 14px;
    font-weight: var(--bold);
    display: inline-block;
    margin-top: 10px;
}

.form__button {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
}

/* social networks  */
.social__networks {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.social__network {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 72px;
    height: 36px;
    background: #fff;
    padding: 7px;
    transform: translateX(36px);
    transition: var(--transition);
    border-radius: var(--radius);
}

.social__network:hover {
    transform: translateX(22px);
}

@media screen and (min-width: 768px) {
    .social__networks {
        left: 0;
        width: 72px;
    }

    .social__network {
        display: flex;
        justify-content: end;
        transform: translateX(-36px);
    }

    .social__network:hover {
        transform: translateX(-22px);
    }
}
